<% layout('layout/app') %>


<main class="container-fluid">

    <h1 class="my-5">Mon Blog</h1>

    <div class="row d-flex my-5">
        <% posts.forEach(function(post) { %>
        <div class="card col-4-sm mx-5 my-3" style="width: 18rem;">
            <img src="<%= post.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.description %></p>
                <a href="/post/<%= post.id %>" class="btn btn-info my-1">Lire l'article</a>
                <a href="/blog/edit/<%= post.id %>" class="btn btn-dark  my-1">Modifier l'article</a>
            </div>
        </div>

        <% })%>
        <!-- <div class="card col-sm mx-5" style="width: 18rem;">
                <img src="/img/tree.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/post" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-sm mx-5" style="width: 18rem;">
                <img src="/img/tree.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/post" class="btn btn-primary">Go somewhere</a>
                </div>
            </div> -->
    </div>
</main>